@import "tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

::selection {
  background-color: rgba(0, 95, 74, .5);
  color: #ffffff; 
}

/* Estilos para modo oscuro */
html.dark body {
  background-color: #121212;
  color: white;
}

/* También puedes aplicar a otros elementos como header, etc */
html.dark header {
  background-color: var(--background);
  color: var(--foreground);
}